/**
 * Mobile Stylesheet
 */

@media only screen and (min-width: 0px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	html{
		width: 100%;
	}
	#show-nav-btn,
	#hide-nav-btn{
		display: none;
	}
	#top{
		margin-top:-10px;
	}
	.toggle-btn-skills,
	.toggle-btn-interests{
		width:40%;
		height:70px;
		font-size:2em;
		padding-top:15px;
	}
	button[aria-label="Left Align"]{
		display: initial;
		float: right;
		margin-top:50px;
		margin-right:50px;
		height:100px;
		width: 100px;
		background-color: #c4c4c4;
	}
	.logo{
		margin-left:20px;
		width:auto;
		margin-top:30px;
		display: inline-block;
		font-size: 1.4em;
	}
	#get-in-touch{
		top:500px;
		font-size: 8em;
		margin: 120px 0 0 0;
	}
	form[name="contactform"] label{
		font-size: 2em;
		margin-left:60px;
	}
	form[name="contactform"] input{
		height:75px;
		font-size: 2em;
	}
	#submit{
		height:60px;
		width: 130px;
		margin-top: 30px;
	}
	.sn-wrap li{
		background:none;
	}
	.sn-wrap li a i{
		color:#e6e6e6;
	}
	#general-questions{
		display: none;
	}
	.toggle-btn{
		background-color:#673E3A;
		width:25%;
	}
	.post{
		height:660px;
		width:70%;
		margin-left:15%;
		margin-top:25px;
	}
	.post-cover h3{
		font-size: 5em;
		font-weight: bold;
		text-shadow: 0px 0px 13px #000000;
	}
	.post-cover p{
		font-size: 2.5em;
		text-shadow: 0px 0px 13px #000000;
	}
	#gallery-image{
		width:1000px;
	}
	#left{
		height:200px;
		width:100%;
	}
	#navigation-wrap{
		display: none;	
	}
	#menu-demo-menu-left{
		width:400px;
		border: none;
		text-align:initial;
	}
	#sticky{
		width: 100%;
		text-align: initial;
		height:100%;
		position:absolute;
		font-size:5em;
	}
	#left, 
	.logo,
	button[aria-label='Left Align']{
		position:relative;
	}
	.wpb-slider-caption{
		left:0px;
		right:100px;
		top:0px;
		overflow-y:scroll;
		height:88%;
		padding:60px;
	}
	.carousel-indicators{
		width:100%;
		text-align:center;
		left:0px !important;
		margin-left:0px;
		right:0px;
		bottom:20px;
		margin-bottom: 0px;
	}
	.carousel-indicators li,
	.carousel-indicators li.active{
		height:30px;
		width:30px;
		margin-left:20px;
		border:3px solid #fff;
	}
	.carousel-indicators li.active{
		background:#fff;
	}
	.contact-me{
		margin-left:0px;
		text-align:center;
	}
	.contact-me li{
		font-size: 2em;
	}
	.contact-wrap{
		margin-left: 8%;
		border-width: 30px;
		height: 1350px !important;
	}
	.sn-wrap li{
		margin-left:13%;
	}
	.wrapper{
		margin-top:60px;
		margin-left:0px;
		margin-bottom:15%;
		width:95%;
		height:auto;
		max-height:80%;
	}
	#experience-page{
		margin-top: -5px;
	}
	.pagewrap{
		height:auto;
	}
	#right{
		height:1600px;
		top:-5px;
	}
	.footer-wrap{
		height: 200px;
	}
	.inner-foot{
		width:100%;
	}
	#experience-page, #right, #int-page,#skill-page {
		min-height:1200px;
		height: auto;
		overflow: auto;
	}
	.contact-ideas{
		margin-top:50px;
		font-size:2.5em;
	}
	input[type='text']{
		margin-top: 0px;
	}
	.connect{
		color:#E0E0E0;
	}
	.connect:hover{
		color:#E0E0E0;	
	}
	.sn-wrap li{
		text-align:center;
		opacity:.8;
		display: inline;
		z-index: 30;
	} 
	.sn-wrap li a i{
		color:#e6e6e6;
	}
	#mobile-navigation{
		background-color: #4e4e4e;
		margin-top:25px;
		-webkit-box-shadow: 0px 16px 16px 0px rgba(33,33,33,1);
		-moz-box-shadow: 0px 16px 16px 0px rgba(33,33,33,1);
		box-shadow: 0px 16px 16px 0px rgba(33,33,33,1);
	}
	#mobile-navigation ul{
		width:100%;
	}
	#mobile-navigation ul li a:hover,
	#mobile-navigation ul li a:focus,
	#mobile-navigation ul li a:active{
		text-decoration: none;
		font-weight:bold;
	}
	#mobile-navigation #menu-demo-menu li{
		background-color: #4e4e4e;
		display: block;
		width: auto;
		padding-left:40px;
		height: 120px;
		margin-left: 0;
		border-top: 1px solid #414141;
	}
	#mobile-navigation #menu-demo-menu li:first-child{
		border-top:none;
	}
	#mobile-navigation #menu-demo-menu li:active{
		background: #383838;
	}
	#mobile-navigation #menu-demo-menu li a{
		color: #e0e0e0;
		font-family: 'Montserrat';
		font-size: .5em;
		padding-right: 70%;
		height:40px;
	}
	#menu-demo-menu {
		padding-left:0px;
	}
	#mobile-navigation #menu-demo-menu .current-menu-item a{
		color:white;
		font-weight: bold;
		border: none;
	}
	.wpb-slider-caption h3{
		font-size: 7em;
	}
	.wpb-slider-caption p{
		font-size: 1em;
	}
	#wpb-slider-wrapper{
		margin-top: -10px;
	}
	#resume{
		font-size:3em;
	}
	#bottom{
		height:400px;
		padding-left:0px;
		padding-top:15px;
		padding-bottom: 0px;
		padding-right:30px;
	}
	@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
		#left{
			height: 101px;
		}
		.logo{
			margin-top:0;
			font-size: 1em;
		}
		#sticky button{
			margin:0;
		}
		#mobile-navigation{
			margin-top:-2px;
		}
		#mobile-navigation #menu-demo-menu li{
			height: 75px;
		}
		#mobile-navigation #menu-demo-menu li a{
			font-size: 0.4em;
			position: absolute;
			margin-top: 20px;
		}
		.toggle-btn-skills, .toggle-btn-interests{
			width: 30%;
			font-size: 1.4em;
			height: 50px;
			padding-top:10px;
		}
		#pagewrap .wrapper{
			margin-top: 20px;
		}
		.post{
			width: 45%;
			margin-left:25px;
			height: 450px;
		}
		.post-cover h3{
			font-size: 3em;
		}
		.post-cover p{
			font-size: 1.5em;
		}
	}
	@media screen and (max-width: 520px) {
		.sn-wrap li{
			background-color: #4b4b4b;
		}
		.sn-wrap li a i{
			color:#ccc;
		}
		#bottom{
			height:300px;
			padding-left:0px;
			padding-top:0px;
			padding-bottom: 0px;
			padding-right:30px;
		}
		.sn-wrap{
			margin-bottom: 0px;
			margin-top:90px;
		}
		.toggle-btn-group, .toggle-btn-interests{
			width:40%;
		}
	}
	@media screen and (max-width: 435px) {
		body{
			overflow-x:hidden;
		}
		.wpb-slider-caption h3{
			font-size:28px;
		}
		#gallery-image{
			height:380px;
		}
		.contact-me li{
			font-size:8px;
		}
		.inner-foot{
			height:150px;
		}
		.outter-wrap{
			top:-120px;
		}
		.carousel-indicators{
			top:360px;
		}
		.wpb-slider-caption{
			height:275px;
			top:30px;
			overflow-y:scroll;
		}
		.wpb-slider-caption p{
			font-size: 10px;
		}
		#mobile-navigation{
			margin-top:10px;
		}
		#get-in-touch{
			font-size:8em;
			top:378px;
		}
		.contact-wrap{
			border:none;
			background-color: #d8d8d8;
			margin-top:0px;
			height:950px !important;
		}
		#message{
			height:250px;
		}
		#top{
			height:295px;
			margin-top:-5px;
		}
		.contact-ideas{
			border-style:solid;
			border-width:15px;
			border-top-color:#C2C2C2;
			border-bottom-color:#C2C2C2;
			border-left-color:#B1B1B1;
			border-right-color:#B1B1B1;
			padding:20px;
		}
		.contact-inputs{
			font-size: 12px;
		}
		input, #message{
			font-size:12px;
		}
		.post{
			margin-left:0px;
			height:220px;
			width:220px;
		}
	}
}

